body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-parent {
    height: 100vh;
    width: 100%;
}
.logo {
    height: 2rem;
}
.bg-img {
    background-image: url('./assets//background.svg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
.nav-width{
    width: 65%;
}

.nav-link{
    color: black;
}
.nav-link:hover{
    color: #DEAD00;
    text-decoration: none;
}

.form-width {
    width: 45%;
}

.input-h{
    height: 3.3rem;
}

.link-style {
    color: black;
}

.link-style:hover {
    text-decoration: none;
    color: black;
}

.submit-btn {
    width: 35%;
}
.select-icon{
    height: 1.2rem;
}
.register{
    font-size: 0.9rem;
    font-weight: 500;
}
.hero{
    margin-top: 4rem;
}
.hero-text{
    padding-right: 9rem;
}
.hero-heading{
    font-size: 1.8rem;
}
.hero-img{
    height: 27rem;
}
.learn-more{
    font-size: 1.2rem;
    font-weight: 600;
}
.btn{
    font-size: 1.1rem;
    font-weight: 600;
}
.loc{
    font-size: 0.9rem;
    font-weight: 600;
}
.loc-head{
    font-size: 1.5rem;
}
.loc-text{
    font-size: 1.1rem;
}
.loc-img{
    height: 30rem;
}
.loc-content{
    padding-right: 6rem;
}
.unlock-text{
    width: 50%;
}
.data-sec{
    padding: 5rem 7rem;
}
.card-img{
    background-image: url('./assets/card-bg.svg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.register-btn{
    width: 16rem;
    font-size: 0.9rem;
}

.reviews{
    padding: 10rem 8rem;
}
.review-txt{
    margin-top: 1.5rem;
}
.reviw-head{
    font-size: 2.3rem;
}

.owl-nav {
    position: absolute;
    bottom: -6rem; 
    left: 10px;
}
.owl-prev,
.owl-next {
    background-color: transparent !important;
    color: white !important;
    font-size: 18px !important;
    border: 1px solid #FEC84B !important;
    border-radius: 50% !important;
    margin: 0 0.8rem !important;
}
.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover{
    background-color: #FEC84B !important;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next{
    padding: 10px 15px !important;
}
.left-arrow{
    transform: rotate(180deg);
}

.doc-img{
    width: 30rem;
}

.get-touch{
    position: absolute;
    bottom: -8rem;
    left: 0;
}

html {
    scroll-behavior: smooth;
}
.custom-nav{
    position: relative;
}
.btn-anim:hover{
    transform: scale(0.93);
}
.footer-nav{
    color: white;
}
.footer-nav:hover{
    color: #DEAD00;
}
.back-home{
    position: absolute;
    top: 0;
    left: 0;
}

/* Large Screen */

@media screen and (max-width: 1024px) {
    .form-width {
        width: 75%;
    }
}

/* Medium Screen */


@media screen and (max-width: 992px) {
    .bg-parent {
        height: 100vh;
        width: 100%;
    }
    .hero-text{
        padding-right: 0;
    }
    .hero-img{
        height: 20rem;
    }
    .data-sec{
        padding: 5rem 1rem;
    }
    .input-h{
        height: 2.7rem;
    }
    
}


@media screen and (max-width: 770px) {
    .form-width {
        width: 70%;
    }
    .nav-width{
        width: auto;
    }
}

/* Small Screen */
@media screen and (max-width: 576px) {
    .form-width {
        width: 100%;
    }
    .register{
        font-size: 0.5rem;
    }
    .submit-btn {
        width: 100%;
    }
    .logo-head{
        font-size: 1.1rem;
    }
    .hero-text{
        padding-right: 0;
    }
    .learn-more{
        font-size: 0.9rem;
    }
    .btn{
        font-size: 0.9rem;
    }
    .hero-img{
        height: 22rem;
    }
    .loc-img{
        height: 20rem;
    }
    .loc-content{
        padding-right: 0rem;
    }
    .logo {
        height: 1.5rem;
        margin-top: 0.1rem;
    }
    .reviews{
        padding: 6rem 2rem;
    }
    .reviw-head{
        font-size: 1.6rem;
    }
    .owl-nav {
        position: absolute;
        bottom: -4rem; 
        left: 10px;
    }
    .review-txt{
        margin-top: 1rem;
    }
    .doc-img{
        width: 22rem;
    }
    .custom-nav{
        position:absolute;
        top: 3rem;
        right: 0;
        background-color: #000;
        z-index: 10;
    }
    .nav-link{
        color: white;
    }
    
}